<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.bjpowernode.pojo.Users">
        <property name="u_id" value="1" />
        <property name="uname" value="李四" />
        <property name="uage" value="20" />
    </bean>

    <bean id="uMapper" class="com.bjpowernode.dao.UsersMapperImpl">
        
    </bean>
    
    <bean id="uService" class="com.bjpowernode.service.impl.UsersServiceImpl" >
        <property name="usersMapper" ref="uMapper" />
    </bean>
    
    <bean id="uController" class="com.bjpowernode.controller.UsersController" >
        <property name="usersService" ref="uService" />
    </bean>

</beans>